* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #000;
    display: flex;
        align-items: center; 
        flex-direction: column;
        justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

button {
    background-color: purple;
    border: 0.1rem purple solid;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2rem;
    margin: 1rem 0;
    overflow: hidden;
    padding: 2rem 3rem;
    position: relative;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button .circle {
    background-color: white;
    border-radius: 50%;
    height: 10rem;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
        animation: scale 0.5s ease-out;
    width: 10rem;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3); 
        opacity: 0;
    }
}